@each $name, $value in $text-align {
  .text-#{$name} {
    text-align: $value;
  }
}

.fw-bold {
  font-weight: 700;
}

.fst-italic {
  font-style: italic;
}

.text-nowrap {
  white-space: nowrap;
}

.text-decoration-none {
  text-decoration: none;
}